@import "!~@nti/style-common/all.scss";

body {
	background-color: var(--panel-background);
}

#content {
	padding: 10px;
}

header.test-harness {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
			display: inline;

			&:not(:last-child)::after {
				content: ' | ';
			}
		}
	}
}
