@import "~nti-style-common";

.modal-common-sharing-group {
	.dialog {
		width: 550px;
		min-height: 500px;
		background-color: #fff;
		margin: 0 auto;
		position: relative;
		top: 200px;
		transform: translateY(-50%);

		.modal-content-create-sharing, .modal-content-group {
			clear: both;
			padding: 0 25px;
			height: 350px;
			overflow: auto;

			label {
				display: block;
				margin-bottom: 10px;
				margin-top: 20px;
			}

			input {
				border: 1px solid $border-grey-light;
				background-color: #fff;
				width: 100%;
				height: 40px;
				color: $tertiary-grey;
				font-size: 14px;
				line-height: 19px;
				padding: 12px 15px;
			}

			.notify {
				color: $secondary-grey;
				font-size: 14px;
				line-height: 20px;
				display: block;
				position: relative;
				margin-bottom: 15px;

				.icon {
					padding-right: 10px;
				}

				&::before {
					position: absolute;
					content: '';
					//background: url(../images/eye.png) no-repeat;
					width: 16px;
					height: 15px;
					top: 2px;
					left: 0;
				}
			}

			.suggest {
				color: $tertiary-grey;
				font-size: 14.1px;
				line-height: 19px;
				margin-top: 8px;

				a {
					color: #749cb3;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.search-add-people {
				width: 100%;
				position: relative;

				.result-search {
					max-height: 417px;
					border: 1px solid $border-grey-light;
					background-color: #fff;
					box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
					max-width: 480px;
					width: 100%;
					margin: 0 auto;
					border-top: 0;
					position: absolute;
					top: 40px;
					left: 0;
					right: 0;
					z-index: 1;
					overflow-y: auto;
					margin-top: 0;

					ul {
						padding: 0;
					}

					.search-item {
						margin: 10px;
						margin-bottom: 0;
						margin-left: 0;
						display: flex;
						align-items: center;
						cursor: pointer;

						.img-avatar {
							object-fit: cover;
							height: 40px;
							width: 40px;
						}

						&:hover {
							background-color: $panel-background;
						}

						&:last-child {
							margin-bottom: 13px;
						}
					}

					.search-name {
						margin-left: 13px;
						color: $tertiary-grey;
						font-size: 14px;
						line-height: 19px;
					}
				}
			}

			.member-friend-list {
				margin-top: 30px;

				.title {
					margin-bottom: 5px;
				}
			}

			.result-search {
				max-height: 240px;
				width: 100%;
				overflow-y: auto;
				margin-top: -25px;

				ul {
					padding: 0;
				}

				.search-item {
					margin-top: 10px;
					display: flex;
					align-items: center;
					cursor: pointer;
					justify-content: space-between;

					.img-avatar {
						object-fit: cover;
						height: 40px;
						width: 40px;
					}

					&:hover {
						background-color: $panel-background;
					}

					&:last-child {
						margin-bottom: 13px;
					}

					.item-left {
						display: flex;
						align-items: center;
					}
				}

				.search-name {
					margin-left: 13px;
					color: $secondary-grey;
					font-size: 14px;
					line-height: 19px;
				}

				.btn-remove {
					color: $incorrect;
					font-size: 14px;
					line-height: 19px;
					text-align: right;
				}

				.btn-undo {
					color: $primary-green;
					font-size: 14px;
					line-height: 19px;
					text-align: right;
				}
			}
		}

		.dialog-header {
			background-color: $panel-background;
			box-shadow: 0 1px 0 0 $border-grey-light;
			padding: 7px 14px 10px 25px;
			overflow: hidden;
			margin-bottom: 15px;

			h2 {
				color: $secondary-grey;
				font-size: 24px;
				font-weight: 300;
				line-height: 33px;
				float: left;
			}

			.close {
				float: right;
			}
		}

		.modal-button-feature {
			position: absolute;
			background-color: #fff;
			box-shadow: inset 0 1px 0 0 $border-grey-light;
			bottom: 0;
			width: 100%;
			height: 40px;
			margin: 0;

			li {
				float: right;
				margin: 0;

				a {
					text-align: center;
					display: block;
					height: 40px;
					width: 125px;
					line-height: 40px;
					font-size: 14px;

					&.btn-create, &.btn-done, &.btn-join {
						background-color: $primary-blue;
						box-shadow: inset 0 1px 0 0 $border-grey-light;
						color: #fff;
						font-weight: 600;
					}

					&.btn-cancel {
						color: $secondary-grey;
					}
				}
			}
		}
	}
}
