@import "~@nti/style-common";

.contact-row {
	height: 40px;
	display: flex;
	margin: 5px;

	.remove-contact-button.nti-button {
		margin-left: auto;
		color: var(--primary-red);
		background: none;
		font-size: 14px;
		text-align: right;
		font-weight: normal;
	}

	.user-info {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;

		font-size: 14px;
		height: 19px;
		color: var(--secondary-grey);
	}
}

.contact-row-image {
	width: 40px;
	height: 40px;
}
