@import "~@nti/style-common";

.sharing-list-contact-container {
  margin-top: 15px;
  height: auto;

	.sharing-list-contacts {
		height: auto;
		margin-bottom: 60px;

		.empty-list{
			margin-left: 0;
			margin-right: 0;
		}
	}
}
