@import "~@nti/style-common";

.sharing-list-card {
	height: 160px;
	flex-grow: 1;
	width: 472px;
	margin: 10px;
}

.sharing-list-action-flyout-option {
	color: $secondary-grey;
	font-size: 14px;
	line-height: 19px;
	margin: 8px;
	cursor: pointer;

	a {
		text-decoration: none;
		color: inherit;
	}
}

.sharing-list-action-flyout-option-delete {
	color: $primary-red;
	font-size: 14px;
	line-height: 19px;
	margin: 8px;
	cursor: pointer;
}

.sharing-lists-list-frame {
	display: flex;
	flex-flow: row wrap;
}

.sharing-lists-panel-header {
	margin: 10px;
}
