@import "~nti-style-common";

.contact-sharing-list {
	width: 1024px;
	margin: 0 auto;
	font-family: "Open Sans";
	padding: 30px;
	margin-top: 20px;
	background-color: #fff;

	ul, li {
		list-style: none;
	}

	a {
		cursor: pointer;
	}

	.feature-top {
		overflow: hidden;

		.btn-create {
			height: 40px;
			max-width: 192px;
			border-radius: 3px;
			background-color: $primary-blue;
			font-size: 14px;
			font-weight: 600;
			line-height: 40px;
			color: #fff;
			display: block;
			text-align: center;
			position: relative;
			width: 50%;
			float: right;

			.icon {
				font-size: 23px;
				position: relative;
				top: 4px;
				margin-right: 3px;
			}
		}
	}

	.description-block {
		width: 50%;
		float: left;

		.main-title {
			color: $primary-grey;
			font-size: 32px;
			font-weight: 300;
			line-height: 43px;
			margin-top: 0;
			margin-bottom: 20px;
		}

		.detail-txt {
			max-width: 435px;
			font-size: 16px;
			line-height: 22px;
			color: $secondary-grey;
		}

		.btn-learn-more {
			color: $primary-blue;
			font-size: 16px;
			line-height: 22px;
			margin-top: 10px;
			margin-bottom: 30px;
			display: block;
		}
	}

	.block-sharing-list {
		ul {
			padding-left: 0;
			overflow: hidden;
		}

		.item {
			border: 1px solid $border-grey-light;
			background-color: #fff;
			box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
			min-width: 470px;
			max-width: 470px;
			min-height: 160px;
			position: relative;
			float: left;
			margin-bottom: 22px;

			&:nth-child(even) {
				float: right;
			}

			.item-title {
				color: $primary-grey;
				font-size: 18px;
				line-height: 24px;
				font-weight: normal;
				float: left;
				margin: 0;
			}
		}

		.item-top {
			padding: 15px 20px;

			.username {
				font-size: 18px;
			}

			.dropbtn {
				//background: url(../images/arrow-down.png) no-repeat;
				display: block;
				width: 14px;
				height: 10px;
				cursor: pointer;
				// margin-top: 8px;

				.icon-chevron-down {
					color: $tertiary-grey;
				}
			}

			.dropdown {
				position: relative;
				display: inline-block;
				float: right;
			}

			.dropdown-content {
				position: absolute;
				background-color: #fff;
				box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
				min-width: 250px;
				border: 1px solid $border-grey-light;
				z-index: 99;
				padding: 15px;
				right: 0;
				top: 18px;

				a {
					color: $secondary-grey;
					font-size: 14px;
					line-height: 19px;
					display: block;
					padding: 4px 0;
					text-decoration: none;

					&:hover {
						font-weight: bold;
					}

					&.link-delete {
						color: $incorrect;
					}
				}
			}

			input {
				float: left;
				width: 175px;
				border: 1px solid $border-grey-light;
				background-color: #fff;
				height: 39px;
				padding: 10px;
				color: $primary-grey;
				font-size: 18px;
				line-height: 24px;
			}

			.button {
				float: right;
				background-color: #fff;
				padding: 2px 7px;
				font-weight: normal;
				margin-top: 5px;
				font-size: 18px;
			}

			.btn-save {
				// background-color: $primary-blue;
				// color: #fff;
				margin-left: 10px;
				color: $primary-blue;
			}
		}

		.item-member {
			clear: both;
			position: absolute;
			width: 100%;
			bottom: 25px;
			padding: 0 20px;

			.active-account-img {
				width: 31px;
				height: 32px;
				display: inline-block;
				position: relative;
				margin-left: -10px;

				&:nth-child(3) {
					img {
						z-index: 8;
					}
				}

				&:nth-child(4) {
					img {
						z-index: 7;
					}
				}

				&:nth-child(5) {
					img {
						z-index: 6;
					}
				}

				&:nth-child(6) {
					img {
						z-index: 5;
					}
				}

				&:nth-child(7) {
					img {
						z-index: 4;
					}
				}

				&:nth-child(8) {
					img {
						z-index: 3;
					}
				}

				&:nth-child(9) {
					img {
						z-index: 2;
					}
				}

				&:nth-child(10) {
					img {
						z-index: 1;
					}
				}

				&:nth-child(2) {
					img {
						z-index: 9;
					}
				}

				.number {
					background-color: #5f6365;
					margin: 0;
					font-size: 10px;
					font-weight: bold;
					line-height: 32px;
					color: #fff;
					text-align: center;
				}

				&.first-child {
					margin-left: 0;

					img, .number {
						z-index: 10;
					}
				}

				.avatar, .number {
					width: 100%;
					border: 1px solid #fff;
					border-radius: 50%;
					max-width: 31px;
					height: 32px;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}

		.item-member {
			p {
				color: $tertiary-grey;
				font-size: 10px;
				font-weight: bold;
				line-height: 14px;
				margin-bottom: 5px;
			}
		}
	}
}
