@import "~@nti/style-common";

.sharing-lists-header-description {
	width: 400px;
	word-wrap: normal;
	color: $secondary-grey;
}

.sharing-lists-title-and-button {
	display: flex;

	.sharing-lists-header-title {
		color: $primary-grey;
		font-size: 32px;
		font-weight: 300;
		line-height: 43px;
		padding-bottom: 20px;
	}

	.create-sharing-list-button {
		margin-left: auto;
		margin-bottom: auto;
		height: 40px;
		border-radius: 3px;
		font-weight: normal;
	}
}

.sharing-lists-panel {
	background: white;
	padding-top: 26px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	margin-top: 20px;

	.empty-list {
		width: 100%;
	}
}
