@import "~@nti/style-common";

.contact-action-modal {
	width: 550px;
	background: white;

	.dialog-buttons {
		.button {
			&.disabled {
				pointer-events: none;
			}
		}
	}
}

.contact-modal-header {
	height: 50px;
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 33px;
	font-weight: 300;
	color: $primary-grey;

	.contact-header {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
		width: calc(100% - 3rem);
	}

	&.panel-header-component {
		padding-left: 25px;
		padding-top: 7px;
	}
}

.contact-modal-content {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;
	color: $secondary-grey;
	font-size: 14px;
	line-height: 20px;
	min-height: 360px;

	&.sub-header {
		color: $primary-grey;
		padding-left: 0px;
		padding-right: 0px;
		height: 22px;
		font-size: 16px;
	}
}

.content-modal-controls {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
}
