@import '~@nti/style-common';

.contact-chat-link {
	cursor: pointer;

	&:not(.online) {
		pointer-events: none;
		opacity: 0.8;
	}

	.offline {
		margin-left: 0.5rem;
		color: var(--tertiary-grey);
	}
}
