@import '~@nti/style-common';

.contact-list-card {
	text-decoration: none;
	height: 100px;
	width: 344px;
	margin: 0 8px 8px;

	.card-title {
		color: var(--primary-grey);
		font-size: 18px;
		line-height: 24px;
		font-family: var(--header-font-family);
		font-weight: bold;

		.entity-location {
			color: var(--secondary-grey);
			font-size: 14px;
			font-family: var(--body-font-family);
			font-weight: normal;
		}
	}

	.contact-list-avatar {
		float: left;
		height: 100px;
		width: 100px;
	}
}

.contact-list-action-flyout-option {
	color: var(--secondary-grey);
	font-size: 14px;
	line-height: 19px;
	padding: 8px;

	&:not(.link) {
		cursor: pointer;
	}

	&.link {
		padding: 0;

		.nti-link-to-path {
			padding: 8px;
		}
	}
}

.contact-list-action-flyout-option-delete {
	color: var(--primary-red);
	font-size: 14px;
	line-height: 19px;
	margin: 8px;
}
