@import "~@nti/style-common";

.contact-list-card {
	text-decoration: none;
	height: 100px;
	width: 344px;
	margin: 8px;

	.card-title {
		color: $primary-grey;
		font-size: 18px;
		height: 24px;
		line-height: 24px;
		font-family: $header-font-family;
		font-weight: bold;

		.entity-location {
			color: $secondary-grey;
			font-size: 14px;
			font-family: $body-font-family;
			font-weight: normal;
		}
	}
}

.contact-list-avatar {
	float: left;
	height: inherit;
}

.contact-list-action-flyout-option {
	color: $secondary-grey;
	font-size: 14px;
	line-height: 19px;
	padding: 8px;

	&:not(.link) {
		cursor: pointer;
	}

	&.link {
		padding: 0;

		.nti-link-to-path {
			padding: 8px;
		}
	}
}

.contact-list-action-flyout-option-delete {
	color: $primary-red;
	font-size: 14px;
	line-height: 19px;
	margin: 8px;
}

.contact-list-frame {
	display: flex;
	flex-flow: row wrap;
}

.contact-list-panel-header {
	margin: 10px;
}
