@import "~@nti/style-common";

.add-sharing-list-row {
	height: 50px;
	font-family: var(--body-font-family);
	font-size: 14px;
	color: var(--primary-blue);
	line-height: 19px;
	display: inline-block;
	margin-top: 14px;
	margin-bottom: auto;
}
