@import "~@nti/style-common";

.sharing-list-row {
	height: 50px;
	font-family: "Open Sans";
	font-size: 14px;
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	border-bottom: 1px solid $border-grey-light;

	.list-title {
		margin-top: auto;
		margin-bottom: auto;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		line-height: 50px;
	}

	.members {
		margin-top: 8px;
		margin-bottom: auto;
		position: static;
		margin-left: auto;
	}
}
