@import "~@nti/style-common";

.contact-list-panel {
	.contacts-panel-header {
		color: $primary-grey;
		font-size: 32px;
		font-weight: 300;
		line-height: 43px;
		padding-bottom: 20px;
		padding-top: 30px;
	}

	.contacts-body {
		display: flex;
		margin-top: 20px;

		.contact-list-cards-frame {
			padding-bottom: 30px;

			.empty-list {
				width: 100%;
			}
		}
	}

	.contacts-body-content {
		position: relative;
	}

	figure.loading {
		margin-top: 60px;
	}
}
