@import "~@nti/style-common";

.contact-list-panel {
	background-color: white;
}

.contacts-sidebar-router {
	width: 255px;
}

.contacts-body {
	display: flex;

	.contact-list-cards-frame {
		background-color: white;
	}

}

.contacts-panel-header {
	color: $primary-grey;
	font-size: 32px;
	font-weight: 300;
	line-height: 43px;
	padding-bottom: 20px;
}
