@import "~@nti/style-common";

.contact-card-detail {
	// @include clearfix();

	border: 1px solid $border-grey-light;
	background-color: white;
	box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
	height: inherit;
	max-width: 472px;
	position: relative;
	margin-bottom: 22px;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.contact-card-follow-toggle {
		flex: 0 0 auto;
		color: inherit;
		border: none;
		width: max-content;
		font-size: 14px;
		text-align: left;
		padding: 0;
		margin: 5px 15px 15px;

		&.promise-button > ul > li:first-child > span {
			left: 0;
			transform: translate3d(0, -50%, 0);
			color: $secondary-green;
			font-size: 14px;

			.follow-label.following {
				color: $tertiary-grey;
			}

		}
	}

	.card-meta {
		padding: 12px 15px 0;
		flex: 1 1 auto;
		position: relative;

		.card-title {
			color: $primary-grey;
			font-size: 18px;
			line-height: 24px;
			font-weight: normal;
			padding-right: 20px;

			.entity-location {
				color: $secondary-grey;
				font-size: 14px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.display-name.user {
				display: block;

				.username {
					display: inline-block;
					vertical-align: middle;
					white-space: nowrap;
					overflow: hidden;
					max-width: 170px;
					text-overflow: ellipsis;
					font-weight: 600;
				}

				.nti-user-presence-dot {
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
				}
			}
		}

		.card-flyout-trigger {
			color: $secondary-grey;
			position: absolute;
			top: 0;
			right: 0;
			left: auto;
			bottom: auto;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
		}
	}

	.members {
		position: absolute;
		bottom: 15px;
	}

	.card-action-flyout {
		width: 250px;
	}
}
