@import "~@nti/style-common";

.member-avatar.overflow-placeholder {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	float:left;
	background-color: #5F6365;
	display: flex;

	.count {
		color: white;
		font-size: 10px;
		font-weight: bold;
		margin: auto;
		line-height: 32px;
	}
}
