@import "~@nti/style-common";

.members-label {
	color: $tertiary-grey;
	font-family: "Open Sans";
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	margin-bottom: 5px;
	flex:1
}

.member-list {
	display: flex;
	flex: 0;
}

.member {
	margin-left: -10px;
}

.members {
	padding-left: 15px;
}
