@import "~@nti/style-common";

.group-card {
	height: 200px;
	width: 472px;
	margin: 10px;
}

.group-avatar {
	float:left;
	height: inherit;
}

.group-action-flyout-option {
	color: #757474;
	font-size: 14px;
	line-height: 19px;
	margin: 8px;
}

.group-action-flyout-option-delete {
	color: #F35252;
	font-size: 14px;
	line-height: 19px;
	margin: 8px;
}

.groups-list-frame {
	display: flex;
	flex-flow: row wrap;
}

.groups-panel-header {
	margin: 10px;
	display: flex;
}

.groups-panel {
	width: 1024px;
}

.create-group-button {
	height: 40px;
	width: 155px;
	border-radius: 3px;
	background-color: white;
	margin-left: auto;
	margin-right: 25px;
	margin-top: auto;
	margin-bottom: auto;
}
