@import "~@nti/style-common";

.group-card {
	height: 200px;
	max-width: 472px;
	flex-grow: 1;
	margin: 10px;
}

.group-avatar {
	float:left;
	height: inherit;
}

.group-action-flyout-option {
	color: $secondary-grey;
	font-size: 14px;
	line-height: 19px;
	margin: 8px;
}

.group-action-flyout-option-delete {
	color: $primary-red;
	font-size: 14px;
	line-height: 19px;
	margin: 8px;
}

.groups-list-frame {
	display: flex;
	flex-flow: row wrap;
}

.groups-panel-header {
	margin: 10px;
	display: flex;
}

.groups-panel {
	max-width: 1024px;
}
