@import "~@nti/style-common";

.groups-panel {
	padding-top: 26px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	margin-top: 20px;

	.empty-list {
		width: 100%;
	}
}

.group-action-modal-content {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;
	color: var(--secondary-grey);
	font-size: 14px;
	line-height: 20px;

	&.sub-header {
		color: var(--primary-grey);
		padding-left: 0;
		padding-right: 0;
		font-size: 16px;
	}

	.nti-text-input {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		height: 40px;

		&.invalid-code-error {
			color: var(--secondary-grey);
			border: solid 1px $primary-red;
		}
	}

	.invalid-code-error {
		color: $primary-red;
	}
}

.group-action-modal {
	min-height: 400px;
	width: 550px;
	background: white;
	display: flex;
	flex-direction: column;

	> * {
		flex: 0 1 auto;
	}

	> .group-action-modal-content {
		flex: 1 1 auto;
	}
}

.group-action-modal-header {
	height: 50px;
	font-size: 24px;
	line-height: 33px;
	font-weight: 300;
	color: var(--primary-grey);

	&.panel-header-component {
		padding-left: 25px;
		padding-top: 7px;
	}
}

.groups-header-title {
	color: var(--primary-grey);
	font-size: 32px;
	font-weight: 300;
	line-height: 43px;
	padding-bottom: 20px;
}

.groups-header-buttons {
	margin-left: auto;
	padding-right: 0;

	.header-button {
		min-width: 155px;
		border-radius: 3px;
		margin: 0 0 0 25px;
		line-height: 20px;
		padding: 10px;
		text-align: center;
		font-weight: normal;

		.icon-createlarge {
			font-size: 18px;
			vertical-align: text-bottom;
			margin-right: 5px;
		}

		&.join {
			background: white;
			color: var(--secondary-grey);
			border: 1px solid $border-grey-light;
			border-radius: 3px;
		}
	}
}
