@import "~@nti/style-common";

.groups-panel {
	background: white;
	padding-top: 26px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	margin-top: 20px;

	.empty-list {
		width: 100%;
	}
}

.group-action-modal {
	height: 400px;
	width: 550px;
	background: white;
}

.group-action-modal-header {
	height: 50px;
	font-size: 24px;
	line-height: 33px;
	font-weight: 300;
	color: $primary-grey;

	&.panel-header-component {
		padding-left: 25px;
		padding-top: 7px;
	}
}

.group-action-modal-content {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;
	color: $secondary-grey;
	font-size: 14px;
	line-height: 20px;

	&.sub-header {
		color: $primary-grey;
		padding-left: 0;
		padding-right: 0;
		height: 22px;
		font-size: 16px;
	}
}

.group-action-modal-controls {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
}

.groups-header-title {
	color: $primary-grey;
	font-size: 32px;
	font-weight: 300;
	line-height: 43px;
	padding-bottom: 20px;
}

.groups-header-buttons {
	margin-left: auto;
	padding-right: 0;

	.create-group-button {
		width: 155px;
		margin-left: 25px;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
		font-weight: 600;
		line-height: 19px;
		padding: 10px;
		text-align: center;

		.icon-createlarge {
			font-size: 15pt;
			margin-left: 1px;
		}
	}
}
