@import "~nti-style-common";

.admin-users {
	min-height: 600px;

	.controls {
		display: flex;

		.pager {
			display: flex;
			margin: 20px 0 0 20px;

			.page-numbers {
				display: flex;
				margin: 0 15px;
				padding-top: 3px;

				.page {
					margin: 0 4px;
					color: #3fb3f6;
					cursor: pointer;

					&.current {
						color: black;
						cursor: auto;
					}
				}
			}

			.prev, .next {
				color: white;
				background-color: #3fb3f6;
				padding: 3px;
				border-radius: 2px;
				cursor: pointer;

				&.disabled {
					cursor: auto;
					background-color: #ccc;
				}
			}
		}

		.search {
			padding-top: 20px;
			position: absolute;
			left: 600px;

			input {
				background: #fafafa;
				box-shadow: 0 0 0 0.0625rem #eaeaea;
				padding: 7px;
				padding-right: 0;
				font: 11pt "Open Sans", sans-serif;
				border: none;
				border-radius: 4px;
				width: 326px;

				&::placeholder {
					font-style: italic;
					color: $tertiary-grey;
					font-weight: 300;
				}
			}
		}
	}

	.contact-list {
		background-color: rgba(0, 0, 0, 0);
		display: flex;
		flex-wrap: wrap;
		width: 1030px;
		padding: 10px;
	}
}
