@import "~@nti/style-common";

.members-label {
	color: var(--tertiary-grey);
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	margin-bottom: 5px;
	flex: 0 0 auto;
}

.member-list {
	display: flex;
	flex-direction: row-reverse;
	width: min-content;

	.member-avatar {
		margin-right: -10px;
	}
}

.members {
	padding-left: 15px;
}

.members-flyout-trigger {

	.flyout-inner {
		padding: 15px;
	}

	.members-hover {
		color: var(--tertiary-grey);
		font-size: 10px;
		font-weight: bold;
		line-height: 14px;

		&.overflow {
			color: var(--secondary-grey);
		}
	}
}
